.goal-form {
  padding-top: 20px;
}

.goal-form .form-control {
  background-color: white;
  border-radius: 12px;
  border: 1px solid #d9d9d9;
}

.goal-form .btn {
  background-color: #d1d5ff;
  border: none;
  color: black;
}