.item-card {
  background-color: #b4f9dc;
  border: none;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}

.item-card .btn {
  background-color: #d1d5ff;
  border: none;
  color: black;
  margin-top: 10px;
}