.item-card {
  background-color: #b4f9dc;
  border-radius: 20px;
  padding: 18px;
  margin-bottom: 20px;
  text-align: center;
}

.title {
  font-weight: bold;
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
  margin: 8px 0 2px;
}

.text {
  margin-bottom: 8px;
}

.date {
  margin-bottom: 10px;
}

.remove-btn {
  background-color: #d1d5ff;
  border: none;
  border-radius: 20px;
  padding: 6px 12px;
}